body{
    display: flex;
    height:100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #ffb6c1, #ff69b4);

}
.calc{
    border:2px solid black;
    padding: 20px;
    border-radius: 20px;
    box-sizing: border-box;
    
}
input{
    height:70px;
    width:300px;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 1px 1px 5px  black;
    text-align: right;
    font-size: xx-large;
    font-weight: 700;
}
button{
    height:50px;
    width:50px;
    margin:10px;
    border-radius: 25px;
    background-color: transparent;
    box-shadow: 1px 1px 2px  black;
    font-size: larger;
}
